.navbar {
  padding: 10px 20px;
  background-color: #1C558E;
}

.navbar-brand {
  color: white;
  margin: 10px;
}

.profile {
  color: white;
  display: flex;
  align-items: center;
}

.notifikasi {
  position: relative;
  display: inline-block;
}

.notifikasi .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
